@{    
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todo App</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
   
   
    <link href="~/css/main.css" rel="stylesheet">
</head>
<body>
    <div class="registration-form">
        <form method="post" action="@Url.Action("Add","User")">
            <div class="form-icon">
                <span><i class="icon icon-user"></i></span>
            </div>
            <div class="form-group">
                <input type="email" class="form-control item" name="Email" placeholder="Email address">
            </div>
            <div class="form-group">
                <input type="password" class="form-control item" Name="Password" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" name="FirstName" placeholder="First Name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control item" name="LastName" placeholder="Last Name">
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-block create-account">Create Account</button>
            </div>
             <p style="text-align:center; font-size:12px; color:green"><a href="@Url.Action("Login","Auth")">Login</a></p>
            <p style="text-align:center; font-size:12px; color:red">@ViewBag.Error</p>
         <p style="text-align:center; font-size:12px; color:green">@ViewBag.Success</p>
        </form>
        
        
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>
</html>
