@{
    ViewData["Title"] = "Home Page";
}


<table id="basic-datatable" class="table table-striped table-bordered table-sm key-buttons border-bottom">
  <thead>
    <tr>
      
      <th scope="col">User Id</th>
      <th scope="col">Title</th>
      <th scope="col">Completed</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Wash</td>
      <td>False</td>
      <td>
          <button class="btn btn-sm viewTransactionsBtn" id="" onclick="viewTransactions('')"  type="button"><i class="fas fa-pen text-success"></i></button>
           <button class="btn btn-sm viewTransactionsBtn" id="" onclick="viewTransactions('')"  type="button"><i class="fas fa-trash text-danger"></i></button>
      </td>
     
    </tr>
    
  </tbody>
</table>
